@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To All </h1>
    <p>Here is a school web that consists of Teachers ,courses ,students.</p>

    <p>You can sign in as a Student Or as a Teacher as each one has his own privacy.</p>
    @*<a href="https://docs.microsoft.com/aspnet/core"></a>.*@
</div>
